[Unit]
Description=Discord Bot Service
After=network.target

[Service]
Environment=TT_IS_SERVICE=true
Type=idle
User=tt
ExecStart=/usr/bin/bash -c "cd /home/tt/tt-discord-bot/ && /home/tt/.nvm/versions/node/v16.19.1/bin/node testServer.js"
Restart=always

[Install]
WantedBy=multi-user.target